.cke_dialog_footer_buttons a.cke_dialog_ui_button {
	height: 30px !important;
}
.cke_dialog .cke_dialog_close_button {
	cursor: pointer !important;
}
.cke_dialog .cke_dialog_close_button:hover {
	border-color: transparent !important;
}

.cke_dialog_body label {
    display: inline !important;
	}

	.cke_dialog_body {
	    box-shadow: none !important;
			background-color: #FFF !important;
	    border-radius: 6px !important;
	}
